html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@font-face {
    font-family: "TTLakes";
    src: local("TTLakes-Medium"),
        local("TTLakes-Regular"),
        local("TTLakes-Bold"),
        url("fonts/TTLakes/TTLakes-Medium.woff") format("woff"),
        url("fonts/TTLakes/TTLakes-Regular.woff") format("woff"),
        url("fonts/TTLakes/TTLakes-Bold.woff") format("woff");
    font-weight: 400;

}

@font-face {
    font-family: "TTLakes";
    src: url("fonts/TTLakes/TTLakes-Bold.woff") format("woff");
    font-weight: 700;

}

@font-face {
    font-family: "TTLakes";
    src: url("fonts/TTLakes/TTLakes-Medium.woff") format("woff");
    font-weight: 500;

}

.block{
    width:320px;
    height: 1024px;
    background-color:  #FFFFFF;   
    box-shadow:  16px 0px 52px 0  rgba(14, 24, 80, 0.2),
    -2px 0px  4px 0 rgba(69, 79, 126, 0.02)
   ;

}
.block-header{
    width: 100%;
    padding: 18.73px 24px 0 24px;
    height:100px;
    display:flex;
    align-items: center;
    
}
.block-header__button{
    background-color: #FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-width: 0;
}
.block-header__button--burger,
.block-header__button--search{
    background-position: center;
    background: size 17.96px;
    background-repeat: no-repeat;
    
}
.block-header__button--burger{
    background-image: url("img/Burger.svg");
    transition: background-image  0.5s, transform 1.5s;
   

}
.block-header__button--burger:hover{

background-image: url("img/Close.svg");
transform: rotate(180deg);

}
.block-header__button--search{
    background-image: url("img/Search.svg");

}

    

.block-header__img-container{
    margin-right: auto;
    margin-left:16.73px;

}
.block-nav{
    display: block;
width:222px;
height:684px;
margin-top:16px;


}
.nav-ul{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    padding: 0%;
    margin: 0%;
}
.nav-ul__li{
list-style:none;

}
.nav-ul__a{
    display: inline-block;
font: 500 16px/24px  'TTLakes' ;
letter-spacing: -0.2px;
color: #1B1C21;
text-decoration: none;
padding-left: 24px;
text-align: center;
white-space: nowrap;
transition: padding-left 1s;
}
.nav-ul__a:hover{
    color: #7E7E82;
    position: relative;
    padding-left: 20px;
     
}
.nav-ul__a:hover::before{
content: url("img/Ul.svg");
width: 4px;
height: 32px;
position: absolute;
top:-4px;
left: 0;

}

.block-footer{
    display:block;
    width: 222px;
    height: 200px;
    padding-left: 24px;
    margin-top: auto;   
    
}

.block-footer__contacts{
display: flex;
flex-direction: column;
width: 100%;
}

.contacts__btn-container{
display: flex;
column-gap: 16px;
}

.contacts__btn{
    background-color: #FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-width: 0;
    position: relative;
}
.contacts__btn--call,
.contacts__btn--chat,
.contacts__btn--profile{
    background-position: center;
    background: size 17.96px;
    background-repeat: no-repeat;
  
}
.contacts__btn--call{
    background-image: url("img/Call.svg");

}
.contacts__btn--chat{
    background-image: url("img/Chat.svg");

}
.contacts__btn--profile{
    background-image: url("img/Profile.svg");
  
}
.block-footer__mail{
    
font: 500 16px/24px  'TTLakes' ;
letter-spacing: -0.2px;
color: #1B1C21;
text-decoration: none;
width: 100%;
margin-top: 16px;

}
 .block-footer__phone{  
font: 700 24px/32px 'TTLakes';
letter-spacing: -0.6px;
color:  #1B1C21;
margin-top: 12px;
text-decoration: none;
 }

 .ch-container{
    width: 87px;
    height: 24px;
   margin: 0%;
    padding: 0%;
    font: 500 16px/24px  'TTLakes' ;
    letter-spacing: -0.2px;
    color: #1B1C21; 
    text-transform: uppercase;
    
 }
 .ch-container__checkbox{
    appearance: none
}

.ch-container__label{

cursor: pointer;
    position: relative;
    top:0;
    left:-2px;
 }

 .ch-container__checkbox:checked+
 .ch-container__label {
    color: #7E7E82;

}


